<nav class="nav">
  <ul class="nav-list">

    <li class="nav-list-item">
      <a class="nav-list-link" href="/">
        Home
      </a>
    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" href="/viewData">View Data</a>

    </li>
    <li class="nav-list-item">
      <a class="nav-list-link" href="/data">Data</a>
    </li>

    <li class="nav-list-item">
      <a class="nav-list-link" href="/search/invoiceNo">Search Invoice</a>
    </li>

    <li class="nav-list-item">
      <a class="nav-list-link" href="/search/productline">Search Product line</a>
    </li>

  </ul>
</nav>