<div class="form-container">
  <h3>Enter an Invoice Number</h3>
  <form
    style="margin-bottom: 10.5rem;"
    action="/search/invoiceNo"
    method="POST"
    class="form"
  >
    <input
      id="invoiceNo"
      name="invoiceNo"
      placeholder="Enter invoice No"
      type="text"
      class="invoiceNo"
    />
    <button class="btn" type="submit">Search</button>
  </form>

</div>