<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <div class="form-container">
      <h3>Enter an Product line </h3>
      <form action="/search/productline" method="POST" class="form">
        <input
          id="productline"
          name="productline"
          placeholder="Enter product line"
          type="text"
          class="product-line"
        />
        <button class="btn" type="submit">Search</button>
      </form>
    </div>

  </body>
</html>