<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale not found</title>
  </head>
  <body>

    <h2 style="margin-bottom: 23.5rem;" class="heading-secondary">
      {{heading}}
    </h2>
  </body>
</html>